// // .navbar{
// //     border:4px solid black;
// //     text-align: center;
// //     margin:1%;
// // }
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
// .navbar {
//     margin:1em 2em 1em 2em;
//   }
//   * {
//     box-sizing: border-box;
//   }
//   .icons{
//       color: black;
//       margin-right: 9px;
//       margin-left: 9px;
//       float: right;
//       margin-top: 12px;
//   }
  
//   body {
//     margin: 0px;
//     font-family: "segoe ui";
//   }
  
//   .nav {
//     height: 10%;
//     width: 100%;
//     background-color: transparent;
//     // position: relative;
//     left: 0%;
//     top: 0%;
//   }
  
//   .nav {
  
//    .nav-header {
//     display: inline;
//   }
//   }
  
//   .nav {
//     .nav-header {
//       .nav-title {
//         display: inline;
//         float: left;
//         font-size: 2em;
//         font-weight: 600;
//         color: black;
//         padding: 10px 10px 10px 0px;
//         font-family: 'Jost';
        
//       }
//     }
//   }
  
//   .nav {
//     .nav-btn {
//       display: none;
//     }
//   }
  
//   .nav {
//     .nav-links {
//       display: inline;
//       width: 90%;
//        float:center;
//       font-size: 1.4em;
//       position: absolute;
//     //   margin-right: 8%;
//     }
//   }
  
//   .nav {
//     .nav-links {
//       a {
//         display: inline-block;
//         padding: 13px 10px 13px 10px;
//         text-decoration: none;
//         color: black;
//       }
//     }
//   }
//   .nav {
//     .nav-links {
//       a:hover {
//         background-color: rgba(0, 0, 0, 0.3);
//       }
//     }
//   }
//   .nav {
//     #nav-check {
//       display: none;
//     }
//   }
//   .navbar-icon-container {
//     width: 30%;
//     display: flex;
// }
// .navbar-icon {
//     font-size: 1.3em;
//     color: black;
//     padding: 6% 8% 6% 8%;
//     margin: 2%;
//     float: right;
// }
// .navbar-card-btn{
//     width:6em;
//     // text-align: end;
//     // height:50px;
//     border-radius: 2em;
//     font-size: 22px;
//     /* margin-top: 2%; */
//     background-color: #ffc107;
// }
//   @media (max-width: 1024px) {
//     .nav {
//       .nav-btn {
//         display: inline-block;
//         position: absolute;
//         right: 0px;
//         top: 0px;
//       }
//     }
//     .nav {
//       .nav-btn {
//         label {
//           display: inline-block;
//           width: 50px;
//           height: 50px;
//           padding: 13px;
//         }
//       }
//     }
  
//     .nav {
//       .nav-btn {
//         label {
//           span {
//             display: block;
//             width: 25px;
//             height: 10px;
//             border-top: 2px solid #2b3238;
//           }
//         }
//       }
//     }
//     .nav { .nav-links {
//     //   position: absolute;
//       display: block;
//       width: 100%;
//       background-color: #efefef;
//       height: 0px;
//       transition: all 0.3s ease-in;
//       overflow-y: hidden;
//       top: 50px;
//       left: 0px;
//       text-align: right;
//       padding-right: 5%;
//     }
//   }
  
//     .nav { .nav-links { a {
//       display: block;
//       width: 100%;
//     }
//   }
//   }
//     .nav { #nav-check:not(:checked) ~ .nav-links {
//       height: 0px;
//     }
//   }
//     .nav {
  
//      #nav-check:checked ~ .nav-links {
//       height: calc(100vh - 850px);
//       overflow-y: auto;
//     }
//   }
//   }

.navbar {
  margin: 1em 1em 1em 0em;
  width: 100%;
  font-family: roboto;
}
* {
  box-sizing: border-box;
}
.icons{
  color: black;
    // margin-right: 9px;
    // margin-left: 9px;
    float: right;
    margin-top: 12px;
    margin: 1em;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 5%;
  width: 100%;
  background-color: white;
  // position: fixed;
  left: 0%;
  top: 0%;
}

.nav {

 .nav-header {
  display: inline;
  padding: 0em 1em 0em 1em ;
}
}

.nav {
  .nav-header {
    .nav-title {
      display: inline-block;
      font-size: 2em;
      font-weight: 600;
      color: black;
      padding: 10px;
      
    }
  }
}

.nav {
  .nav-btn {
    display: inline-block;
    margin-top: 1em;
  }
}

.nav {
  .nav-links {
    width: 80%;
    display: inline;
    // flex-direction: row;
    // box-sizing: border-box;
    // justify-content: space-between;
    float:right;
    margin-bottom: 4%;
    font-size: 2em;
    // margin-right: 5%;
    .nav-link{
      padding-top: 1em;
      margin-top: 2em;
      padding: 1em;
      // width:90%;
      // width: 10%;
    }
    .icons-container{
      display: inline;
      width: 100%;
      // flex-direction: column;
      
    }
  }
}
.nav { .nav-links { a {
  display: inline;
  text-decoration: none;
  color:black;
}
}
}

.nav {
  #nav-check {
    display: none;
  }
}

@media (max-width: 786px) {
  .nav {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .nav {
    .nav-btn {
      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
    }
  }

  .nav {
    .nav-btn {
      label {
        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #2b3238;
        }
      }
    }
  }
  .nav { .nav-links {
    position: absolute;
    // display: block;
    width: 100%;
    // background-color: #efefef;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    margin-top: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    // text-align: right;
    // padding-right: 5%;
    .nav-link{
      padding-top: 0em;
      margin-top: 0em;
      padding: 0em;
      // width:90%;
      // width: 10%;
    }
    .icons-container{
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      align-items: center;
      .icons{  
        margin-top: 0em;
        margin: 0.3em;
      }
      
    }
  }
}

  .nav { .nav-links { a {
    display: block;
    text-decoration: none;
    color:black;
  }
}
}
  .nav { #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
}
  .nav {

   #nav-check:checked ~ .nav-links {
    height: calc(100vh - 300px);
    overflow-y: auto;
    background-color: white;
  }
}
}
